.field {
  width: 50vw;
  padding: 15px 30px;
  background-color: #d5d5d5;
  border: 2px solid black;
  border-radius: 10px 10px;
  margin: 0 auto;
}  
.form_button,
button {
  background-color: #18e7cf;
  color: #5e5e5e;
  border: 2px solid black;
  border-radius: 5px 5px;
  cursor: pointer;
  font-weight: bold;
  width: 200px;
  height: 40px;
}
button:hover {
  background-color: #108f80;
  color: aliceblue;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.form_input {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px 5px;
  font-size: 20px;
  padding: 0 25px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  border: 2px solid black;
  border-radius: 5px 5px;
  margin: 15px 0;
}
.card_left_block {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card_text {
  width: 100%;
  background-color: aliceblue;
  padding: 10px 15px; 
  font-size: 18px;
}
.card_btn_success,
.card_btn_delete {
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.card_right_block {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card_date {
  background-color: aliceblue;
  padding: 5px 10px; 
  font-size: 16px;
}